
/* Grid */
.grid {
	display: grid;
}
.principal {
	grid-template:
		"logo nav nav" 100px
		"sidenav content content" 3fr
		"sidenav rodape rodape" 1fr
		/ 140px 1fr 1fr;
		background-color: rgba(0, 0, 0, 0);
}

.apresentacao {
	grid-template:
		"logo nav nav" 100px
		"tit tit tit" 1fr
		"left center right" 5fr
		"rodape rodape rodape" 1fr
		/ 140px 1fr 140px;
		background-color: rgba(0, 0, 0, 0);
}
.experiencia {
	grid-template:
		"logo nav nav" 100px
		"tit tit tit" 1fr
		"center center center" 5fr
		"rodape rodape rodape" 1fr
		/ 140px 1fr 140px;
		background-color: rgba(0, 0, 0, 0);
}

.logo {
	grid-area: logo;
	padding-left: 40px;
}

.nav {
	grid-area: nav;
	justify-self: right;
	align-self: flex-end;
	max-height: 100%;
}

.content {
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: right;	
}

.rodape {
	grid-area: rodape;
}

.tit {
	grid-area: tit;
	align-self: flex-end;

}

.left {
	grid-area: left;	

}

.center {
	grid-area: center;
	padding-top: 10px;
	padding-left: 2vmax;
	padding-right: 2vmax;
	
}

.right{
	grid-area: right;
}

/* Grid Item */
.item {
	margin: 5px;
	background: rgba(255, 99, 71, 0);
	text-align: center;
}

.grid {
	max-width: 100%;
	margin: 0px;
	border: 3px solid rgb(255, 255, 255);
}

h1 {
	text-decoration: none;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 40px;
	margin-bottom: 0px;
	font-variant-caps: petite-caps;
	color: #ffae00;
}

h2 {
	text-decoration: none;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1em;
	text-align: center;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

body {
	background-color: rgb(0, 0, 0);
	font-family: monospace;
	color: white;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 20px;
}

body > div:nth-of-type(even) {
	background: rgb(90, 238, 90);
}

body > div > img {
	display: auto;
	margin: 0 auto;
	max-width: 100%;
}
/*topo*/

/*menu*/
ul {
	list-style-type: none;
	margin: 0px;
	text-align: right;							
}
	li {	
		display: inline;
		padding: 2px;
    	color: #ffffff;
    	text-decoration: none;
        font-family: Tahoma, Verdana, sans-serif;
		font-variant: small-caps;
		font-size: 1.5em;
    	margin-right: 35px;

		
}
a:link {
	color: #ffffff;
	text-decoration: none;
	   }
a:visited {
  	color: #ffffff;
  	text-decoration:none;
}
#logo {
	height: 100%;
	width: 100%;
}


/*conteudo*/
.capa {
	display: flex;
	flex-direction: row;
	align-items: center;
    background-image: url(img/bg_001.png);
	background-size: 100%;

}
#fotocapa{
	width: 70%;
	float: right;
}
#nomecapa {
	width: 50%;
	float: left;
}
.iconredes {
	width: 40px;
	height: 40px;
	padding: 2px;
}
.imgleft {
	margin-left: 10vmax;
	width: 45vmin;

}

.imgright {
	float: right;
	margin-right: 10vmax;
	padding-top: 10vmin;
	width: 45vmin;

}

	p {
	border: none;
	color: #ffffff;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	font-size: 20px;
	}
